<h2>Eventos</h2>
<hr>

<div class="d-flex mb-2">
  <div class="d-flex align-items-center form-group me-2">
    <label class="me-2">Filtro:</label>
    <input
    type="text"
    class="form-control"
    placeholder="Buscar"
     [(ngModel)]="filtroLista">
  </div>
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="alterarImagem()">{{ !exibirImagem ? 'mostrar' : 'ocultar' }}</button>
      </th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td> {{ evento.eventoId }} </td>
      <td> <img [collapse]="!exibirImagem" [isAnimated]="true" width="150px" src="../../assets/img/{{evento.imagemURL}}"></td>
      <td> {{ evento.tema }} </td>
      <td> {{ evento.local }} </td>
      <td> {{ evento.dataEvento }} </td>
      <td> {{ evento.qtdPessoas }} </td>
      <td> {{ evento.lote }} </td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
