<div class="card rounded shadow-sm">
  <form>
    <div class="p-3">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="tema">Tema</label>
            <input type="text" class="form-control" id="tema" placeholder="Insira o Tema">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="local">Local</label>
            <input type="text" class="form-control" id="local" placeholder="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="data-hora">Data e Hora</label>
            <input type="datetime-local" class="form-control" id="data-hora" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="qtd-pessoas">Qtd Pessoas</label>
            <input type="text" class="form-control" id="qtd-pessoas" placeholder="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="tel" class="form-control" id="telefone" placeholder="(000) 90000-0000">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="e-mail">
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-auto border">
          Cancelar Alteração
        </button>
        <button class="btn btn-success">
          <!-- <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
