<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/img/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<form [formGroup]="form" class="p-1">
      <div class="pb-2 d-block d-md-none">
          <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="row">
          <div class="col-sm-6">
              <label class="form-label">Primeiro Nome</label>
              <input [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}" type="text" class="form-control" formControlName="primeiroNome" placeholder="Insira o Primeiro nome" />
              <div class="invalid-feedback" *ngIf="f.primeiroNome.errors?.required">
                Primeiro Nome é obrigatório
              </div>
          </div>
          <div class="col-sm-6">
              <label class="form-label">Último nome</label>
              <input [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}" type="text" class="form-control" formControlName="ultimoNome" placeholder="Insira o Último nome" />
              <div class="invalid-feedback">
                Último Nome é obrigatório
              </div>
          </div>
      </div>
      <div class="form-group mt-2">
          <label for="">Email:</label>
          <input [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" class="form-control" formControlName="email" type="text" placeholder="Insira o email" />
          <div class="invalid-feedback" *ngIf="f.email.errors?.required">
            Email Nome é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.email.errors?.email">
            Insira um email válido
          </div>
      </div>
      <div class="form-group">
          <label for="">Usuario:</label>
          <input [ngClass]="{'is-invalid': f.userName.errors && f.userName.touched}" class="form-control" formControlName="userName" type="text" placeholder="Insira o nome de Usuário" />
          <div class="invalid-feedback" *ngIf="f.userName.errors?.required">
            Username Nome é obrigatório
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
              <label for="">Senha:</label>
              <input [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched}" class="form-control" formControlName="senha" type="password" placeholder="Digite uma Senha" />
              <div class="invalid-feedback" *ngIf="f.senha.errors?.required">
                A senha é obrigatória
              </div>
              <div class="invalid-feedback" *ngIf="f.senha.errors?.minlength">
                Deve contar no mínimo 6 caracteres.
              </div>
          </div>
          <div class="col-sm-6">
              <label for="">Confirmar Senha:</label>
              <input [ngClass]="{'is-invalid': f.confirmarSenha.errors && f.confirmarSenha.touched}" class="form-control" formControlName="confirmarSenha" type="password" placeholder="Confirme a Senha" />
              <div class="invalid-feedback" *ngIf="f.confirmarSenha.errors?.required">
                Confirmar a senha é obrigatório
              </div>
              <div class="invalid-feedback" *ngIf="f.confirmarSenha.errors?.minlength">
                Deve conter no mínimo 6 caracteres.
              </div>
              <div class="invalid-feedback" *ngIf="f.confirmarSenha.errors?.mustMatch">
                Senha e Confirmar Senha devem ser iguais.
              </div>
          </div>
      </div>
      <div class="form-group form-check mt-2">
          <input type="checkbox" class="form-check-input" id="customCheck1">
          <label class="form-check-label" for="customCheck1">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
      </div>
      <div class="row mt-3">
          <div class="col-12 d-flex align-items-center">
              <button class="btn btn-lg btn-success btn-block px-5 w-100" style="border-radius: initial !important;">
                  Registrar
              </button>
          </div>
      </div>
      <div class="row mt-2">
          <div class="col-12 d-flex align-items-center">
              <a class="btn btn-link btn-block" routerLink="/user/login">
                  Já sou Cadastrado
              </a>
          </div>
      </div>
  </form>


	</div>
</div>
